flyway.user=<dbusername>
flyway.password=<dbpassword>
flyway.url=jdbc:sqlserver://<localhost>:<1433>;databaseName=<dbname>
flyway.sqlMigrationSeparator=_
flyway.sqlMigrationPrefix=
flyway.locations=filesystem:<C:/migrations>
flyway.baselineOnMigrate=true