flyway.user=<dbusername>
flyway.password=<dbpassword>
flyway.url=jdbc:sqlserver://<localhost>:<1433>;databaseName=<dbname>
flyway.locations=filesystem:./migrations
### puede especificar otro directorio: 'flyway.locations=filesystem:C:/otro/directorio/scripts'

### 'baselineOnMigrate' es de gran utilidad cuando ya poseemos tablas en nuestra base de datos
flyway.baselineOnMigrate=true

### otras configuraciones personalizadas de flyway (opcional)
#flyway.sqlMigrationSeparator=_
#flyway.sqlMigrationPrefix=