flyway.user=<dbusername>
flyway.password=<dbpassword>
flyway.url=jdbc:sqlserver://<localhost>:<1433>;databaseName=<dbname>
### especificar otro directorio: 'C:/custom/directorio/scripts'
flyway.locations=filesystem:./migrations
### 'baselineOnMigrate' es de gran utilidad cuando ya poseemos tablas en nuestra base de datos
flyway.baselineOnMigrate=true

### otras configuraciones personalizadas de flyway (opcional)
#flyway.sqlMigrationSeparator=_
#flyway.sqlMigrationPrefix=